@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-search, .icon-star, .icon-star-2, .icon-star-3, .icon-lock, .icon-unlocked, .icon-envelope, .icon-home, .icon-remove, .icon-attachment, .icon-info, .icon-menu, .icon-warning, .icon-user, .icon-icons, .icon-link, .icon-help, .icon-ellipsis, .icon-arrow-right, .icon-arrow-left, .icon-arrow-down, .icon-arrow-up, .icon-file-word, .icon-file-excel, .icon-file-powerpoint, .icon-file-pdf, .icon-books, .icon-book, .icon-bookmark, .icon-cloud-dl, .icon-filter, .icon-list, .icon-list-2, .icon-at {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-search:before {
	content: "\e000";
}
.icon-star:before {
	content: "\e004";
}
.icon-star-2:before {
	content: "\e005";
}
.icon-star-3:before {
	content: "\e006";
}
.icon-lock:before {
	content: "\e00a";
}
.icon-unlocked:before {
	content: "\e00b";
}
.icon-envelope:before {
	content: "\e00c";
}
.icon-home:before {
	content: "\e00d";
}
.icon-remove:before {
	content: "\e013";
}
.icon-attachment:before {
	content: "\e014";
}
.icon-info:before {
	content: "\e015";
}
.icon-menu:before {
	content: "\e024";
}
.icon-warning:before {
	content: "\e025";
}
.icon-user:before {
	content: "\e030";
}
.icon-icons:before {
	content: "\e03a";
}
.icon-link:before {
	content: "\e029";
}
.icon-help:before {
	content: "\e042";
}
.icon-ellipsis:before {
	content: "\e043";
}
.icon-arrow-right:before {
	content: "\e044";
}
.icon-arrow-left:before {
	content: "\e045";
}
.icon-arrow-down:before {
	content: "\e046";
}
.icon-arrow-up:before {
	content: "\e047";
}
.icon-file-word:before {
	content: "\e054";
}
.icon-file-excel:before {
	content: "\e055";
}
.icon-file-powerpoint:before {
	content: "\e056";
}
.icon-file-pdf:before {
	content: "\e057";
}
.icon-books:before {
	content: "\e05c";
}
.icon-book:before {
	content: "\e05d";
}
.icon-bookmark:before {
	content: "\f02e";
}
.icon-cloud-dl:before {
	content: "\e05e";
}
.icon-filter:before {
	content: "\e05f";
}
.icon-list:before {
	content: "\e001";
}
.icon-list-2:before {
	content: "\e002";
}
.icon-at:before {
	content: "\e003";
}


a{
	color: #454545;
}

body,html{
	/*background: #3d3d3d url('../img/low_contrast_linen_@2X.png') repeat top left;/*
	/*background: #17202B url('../img/bkg-nas-mexico.png') no-repeat top left;*/
	background-color: #121212;
	background-size: 100%;
	margin: 0;
	padding: 0;

}

body{	
	color: #222;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;

}

header{
	margin: 0 auto;
	padding: 1rem 0rem 0.2rem;
}

header h1{
	color: #999;
	/*font-family: 'Open Sans';*/
	font-family: 'News Gothic MT';
	font-size: 3rem;
	font-weight: 300;
	margin: 1rem 0rem 1.5rem;
	/*text-shadow: black 0.1em 0.1em 0.2em;*/
}

header h1 a{
	color: #fff;
	height: 333;
}

hr{
	margin: 0px !important;
}

hr.separator-1{
	background: transparent url('../img/img-hr-backgrpund.png') repeat-x center;
	border: 0;
	height: 2px;
}

hr.separator-2{
	background: transparent url('../img/img-hr-backgrpund-2.png') repeat-x center;
	border: 0;
	height: 2px;
}

table{
	border-left: none;
	border-right: none;
	width: 100%;
}

table caption{
	margin-bottom: 1rem;
}

table th{
	text-align: right;
	width: 30%;
}

ul.nav-department{
	margin: 1rem;
	padding: 0px;
}

ul.nav-department > li{
	color: #707777;
	font-size: 1rem;
	font-weight: normal;
	padding: 0.5rem 1.5rem 0.8rem;
	text-transform: uppercase;
}

ul.nav-department  ul.nav-functonal-area{
	color: #b8bbbb;
	font-size: 0.9rem;
	font-weight: 300;
	margin-left: 0px;
	text-transform: none;
}

ul.nav-department  ul.nav-functonal-area a{
	color: #b8bbbb;
}

ul.nav-department  ul.nav-functonal-area li{
	margin: 0.2rem 0.2rem 0.3rem;
}

#breadcrumb{
	color: #A0A0A0;
	font-size: 0.8em;
	font-weight: normal;
	margin: 0rem 0rem 1.5rem;
}

#breadcrumb a{
	color: #A0A0A0;
	text-decoration: underline;
}

#content{
	/*background-color: #d3d3d3;*/
	padding: 1rem 1rem;
}

#content #buttons{
	text-align: right;
}

#content #info h4{
	margin: 0.65rem 0rem;
}

#filter-section{
	border: 1px solid #CCC;
	padding: 1rem;
}

#filter-section > a{
	color: red;
	font-size: 0.7rem;
	float: right;
}

#filter-section > a:hover{
	text-decoration: underline;
}

#filter-section h5{
	margin-bottom: 0.8rem;
}

#filter-section span{
	font-size: 0.8rem;
}

#information-section{
	border: 1px solid #CCC;
	padding: 0.5rem;
}

#information-section > a{
	color: red;
	font-size: 0.7rem;
	float: right;
}

#information-section > a:hover{
	text-decoration: underline;
}

#information-section p{
	font-size: 0.8rem;
	text-align: right;
}

#main-container{
	background-color: #fff;
}

#navigation{
	background-color: #2A2A2A;	
	/*font-family: 'Open Sans';*/
	font-family: 'News Gothic MT';
	font-weight: 300;
	padding: 1rem 0rem;
	position: relative;
}

#navigation h3{
	/*font-family: 'Open Sans';*/
	font-family: 'News Gothic MT';
	font-size: 1.5rem;
	font-weight: 300;
	color: #d3d3d3;
	margin: 1rem 0.5rem 0.9rem 1rem;
}

#navigation nav{
	margin: 1rem 0rem;
}

#search-filter{
	display: inline-block;
	float: left;
	margin-top: 0.3rem;
	padding: 0px;
	vertical-align: middle;
	width: 50%;
}

#search-filter input{
	border-radius: 50px;
	height: 26px;
	margin: 0px;
	padding-left: 0.8rem;
}

#search-filter input:focus{
	border: 1px solid #222;
}

#search-filter-form{
	margin: 0px;
	padding: 0px;
}

#search-form{
	margin: 0.3rem auto;
	width: 90%;
}

#search-form input{
	border-radius: 50px;
	height: 26px;
	margin-bottom: 1.3rem;
	padding-left: 0.8rem;
}

#search-form input:focus{
	border: 1px solid #222;
}

#tools{
	background: -webkit-linear-gradient(top, #F3F3F3, #D8D8D8);
	border: 1px solid #969696;
	border-radius: 5px;
	margin: 1rem 0rem 2rem;
	padding: 0.4rem 0.4rem;
	text-align: right;
}

#tools a{
	display: inline-block;
	margin: 0px;
	padding: 0.5rem;
	text-align: center;
	vertical-align: top;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right:10px solid white; 
	position: absolute;
	right: 0px;
	top: 145px;
}

.background{
	background: transparent url('../img/bkg-nas-mexico.png') no-repeat top left;
	background-size: 100%;
	display: inline-block;	
	height: 100px;
	position: absolute;
	width: 100%;
	z-index: -1;
}

.button {
	border-radius: 2px;
	border: 1px solid transparent;
	padding: 0.5rem 1rem;
}

.button-orange{
	background-color: #d14836;
	color: #fff;
}

.button-gray{
	background-color: #b8bbbb;
	color: #2A2A2A;
}


.clear{
	clear: both;
}

.document-info{
	background-color: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	margin-bottom: 1rem;
	padding: 1rem;
}

.document-info h5{
	font-size: 0.8rem;
	font-weight: bold;
	margin-top: 0.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.error{
	font-size: 0.8rem;
	font-weight: normal;
	padding: 2rem;
}

.error span{
	display: block;	
	padding: 2rem 0rem 1rem;
	text-align: center;
}

.error span.error-description{
	font-size: 2rem;
}

.error-white{
	color: #707777;
}

.filter{
	border-right: 1px solid #CCC;	
}

.large-3 h5.document-title{
	display: block;
}

.large-12 h5.document-title{
	display: inline-block;
	vertical-align: top;
}

.large-3 .document{
	background-position: -600px -410px !important;	
	display: inline-block;
	position: relative;
	height: 120px;
	width: 100px;
}

.large-3 div.document-info-content{
	text-align: center;
}

.large-3 .folder{
	background-position: 0px -420px !important;	
	display: inline-block;
	position: relative;
	height: 120px;
	width: 100px;
}

.large-3 .sprite-image{
	background: transparent url('../img/img-sprite.png') no-repeat;
	background-size: 800px;
}


.large-3 div.document-info{
	text-align: left;
}

.large-12 .document{
	background-position: -150px -102.5px !important;	
	display: inline-block;
	position: relative;
	height: 30px;
	width: 25px;
}

.large-12 .folder{
	background-position: 0px 0px !important;	
	display: inline-block;
	position: relative;
	height: 30px;
	width: 25px;
}

.large-12 .sprite-image{
	background: transparent url('../img/img-sprite.png') no-repeat;
	background-size: 200px;
}

.document-info:hover{
	background-color: #89A8C6;
	border: 1px solid #5B7AA9;
	border-radius: 5px;
	color: #fff;
	text-shadow: 1px 1px 5px #5B7AA9;
}

.document-info:hover h5{
	color: #fff;
}

.document-info:hover .icon-element-information{
	display: block;
	text-shadow: 1px 1px 5px #5B7AA9;
}

.document-info:hover .icon-element-samepage{
	display: block;
	text-shadow: 1px 1px 5px #5B7AA9;
}

.icon-download-document{
	top: 12px;
	left: 65px;
	position: absolute;
}

.icon-element-samepage{
	display: none;
	top: 32px;
	right: 10px;
	position: absolute;
}

.icon-element-samepage:hover{
	color: #5B7AA9;
}

.icon-element-information{
	display: none;
	top: 8px;
	right: 10px;
	position: absolute;
}

.icon-element-information:hover{
	color: #5B7AA9;
}

.left{
	float: left !important;	
}

.page-info{
	color: #A0A0A0;
	font-size: 0.8em;
	font-weight: normal;
	margin: 1.5rem 0rem 2rem;
	text-align: center;
}

.pagination{
	margin-top: 2rem;
	text-align: center;
}

.selected{
	color: #219EDC;
}

.spiner{
	margin: 2rem 0rem;
	text-align: center;
}

.spiner-white{
	color: #fff;
}

.spiner-gray{
	color: #2A2A2A;
}

.text-bold{
	font-weight: bold;
}
