<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="DigitalLibrary"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Digital Library</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/normalize.min.css">
        <link rel="stylesheet" type="text/css" href="css/foundation.min.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel=”shortcut icon” href=”favicon.ico” />

        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <header class="row">
            <div id="header-wrapper">
                <h1>Digital Library</h1>
            </div>         
        </header>    

        <div id="main-container" class="row">  
            <aside id="navigation" class="large-3 columns">
                <div id="search">
                    <form id="search-form">
                        <input type="search" placeholder="Search documents">
                    </form>
                </div>

                <hr class="separator-1">
                
                <h3>Departments</h3>         
                <nav ng-controller="MenuController">
                    <div class="spiner spiner-white" ng-show="menuLoading"><img src="img/ajax-loader-gray.gif" alt="Loading data..."> Updating data...</div>                 
                    <ul class="nav-departmet" ng-show="!error">
                        <li ng-show="!menuLoading"><span class="icon-bookmark"></span> <a ng-click="getLastViewed()" title="Last Viewed">Last Viewed</a></li>
                        <li ng-repeat="deparment in menu" ng-hide="department.functionalArea.length == 0">
                            <span class="icon-books"></span> {{deparment.name}}
                            <ul class="nav-functonal-area">
                                <li ng-repeat="fa in deparment.functionalArea"><a ng-click="searchDocumentFolder(fa.name, fa.url)">{{fa.name}}</a></li>
                            </ul>
                        </li>                     
                    </ul>
                    <div ng-show="error" class="error error-white">
                        <span class="icon-warning error-description"></span>Sorry, we are not able to stablish communication. Please try again in a few minutes.
                        <span><a ng-click="getMenu()" title="Try again" class="button button-orange">Try again</a></span>
                    </div>
                </nav>
                <div MenuPointerDirective class="arrow-left"></div>
            </aside>  

            <div id="content" class="large-9 columns" ng-controller="LibraryController"> 
                <div>                               
                    <!-- Title of the selected section-->
                    <h4 ng-show="!dataLoading">{{subtitle}} ({{totalItems}})</h4>
                    <hr ng-show="!dataLoading">

                    <!-- Breadcrumb -->
                    <div id="breadcrumb" ng-show="toolsVisibility">
                            <a ng-click="switchView('list')" title="List View">{{breadcrumb}}</a>
                    </div>

                    <!-- Tools bar -->
                    <div id="tools" ng-show="toolsVisibility">
                        <div id="search-filter">
                            <form id="search-filter-form">
                                <input type="search" placeholder="Search {{subtitle}}">
                            </form>
                        </div>
                        <a ng-click="switchView('group')" title="Table View" ng-class="{true:'selected', false:''}[view=='large-3']"><span class="icon-icons"></span></a>
                        <a ng-click="switchView('list')" title="List View" ng-class="{true:'selected', false:''}[view=='large-12']"><span class="icon-list-2"></span></a>                         
                        <div class="clear"></div>
                    </div>
                </div>                

                <!-- Sección que contiene los elementos -->
                <div id="info" class="rows">
                    <div id="information-section" ng-show="!informationSection">
                        <table>
                            <thead><tr><th></th></tr></thead>
                            
                        </table>
                    </div>                                    
                    <div>                                                                        
                        <div></div>
                        <section ng-show="typeDocument == 'folder' && toolsVisibility" ng-repeat="folder in elements" class="{{view}} columns document-info left" ng-click="searchDocuments(folder.id, folder.name, departmentName, folder.url, 64000, 0)" >                        
                            <div class="document-info-content">
                                <a href="{{folder.url}}" title="View in S@mepage" target="_blank"><span class="icon-at icon-element-samepage"></span></a>
                                <a href="#" ng-click="showInformation(folder, $event)" title="Information"><span class="icon-info icon-element-information"></span></a>
                                <div class="sprite-image {{typeDocument}}">
                                    <!--span class="icon-cloud-dl icon-download-document"></span-->
                                </div>
                                <h5 class="document-title"> {{folder.name}}</h5>                                                                         
                            </div>
                        </section>                    
                        
                        <section ng-show="typeDocument == 'document' && toolsVisibility" ng-repeat="document in elements" class="{{view}} columns document-info left" ng-click="openDocument(document)" >
                            <div class="document-info-content">                            
                                <a ng-click="sendMail(document.name, document.url, $event);" title="Share Document"><span class="icon-envelope icon-element-samepage"></span></a>
                                <a ng-click="showInformation(document, $event)" title="Information"><span class="icon-info icon-element-information"></span></a>
                                <div class="sprite-image {{typeDocument}}">
                                    <!--span class="icon-cloud-dl icon-download-document"></span-->
                                </div>
                                <h5 class="document-title">{{document.name}}</h5> 
                            </div>                                          
                        </section>                      


                        <div class="spiner spiner-gray" ng-show="dataLoading"><img src="img/ajax-loader-white.gif" alt="Loading data..."> Updating data, please wait...</div>
                        <div ng-show="noDataAlertVisibility" class="error error-white">
                            No items in this section. Please try another option.
                        </div>
                        <div class="large-12 columns pagination" ng-show="toolsVisibility && totalItems > totalDisplayedItems"><a ng-click="searchDocuments(lastFolder.libraryID, lastFolder.libraryName, lastFolder.departmentName, lastFolder.siteURL, lastFolder.lastID, lastFolder.totalDisplayedItems)" title="Get more items" class="button button-gray">Get more items</a></div>
                        <div class="large-12 columns page-info" ng-show="toolsVisibility">{{totalDisplayedItems}} of {{totalItems}}</div>                                        
                        <div ng-show="error" class="error error-white">
                            <span class="icon-warning error-description"></span>Sorry, we are not able to stablish communication. Please try again in a few minutes.
                            <span><a ng-click="" title="Try again" class="button button-orange">Try again</a></span>
                        </div>
                    </div>                   
                </div>      
            </div>  
        </div>               
        
        <!-- External Modules -->     
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/angular-resource.js"></script>
        <script type="text/javascript" src="js/angular-cookies.js"></script>
        <script type="text/javascript" src="js/UI/ui-bootstrap.min.js"></script>
        <script type="text/javascript" src="js/UI/ui-bootstrap-tpls.min.js"></script>

        <!-- App -->
        <script type="text/javascript" src="js/app.js"></script>

        <!-- Services -->
        <script type="text/javascript" src="js/services/MenuService.js"></script>
        <script type="text/javascript" src="js/services/SearchService.js"></script>        

        <!-- Controllers -->
        <script type="text/javascript" src="js/controllers/MenuController.js"></script>
        <script type="text/javascript" src="js/controllers/LibraryController.js"></script> 

        <!-- Directives -->
        <script type="text/javascript" src="js/directives/MenuPointerDirective.js"></script>

    </body>
</html>
